body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f3e9;
    background-image: url(images/fondo_secundario.avif);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3); /* Un leve fondo blanco transparente */
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
  }

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    perspective: 1000px;
    width: 150px;
    height: 200px;
    margin: 20px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: rgb(101, 154, 117);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.card.flip .front {
    transform: rotateY(180deg);
}

.card.flip .back {
    transform: rotateY(0deg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 120px;
        height: 160px;
    }
}

.bienvenida {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFDA03;
    font-weight: bold;
}


/* Botón flotante */
.floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ffdd00; /* Color de fondo */
    color: #000; /* Color del texto */
    padding: 15px 25px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1000; /* Siempre visible sobre otros elementos */
}

/* Efecto hover */
.floating-button:hover {
    background-color: #ffd700;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Animación flotante */
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-button {
    animation: floating 2s ease-in-out infinite;
}
